Repository bounswe/bounswe2022group2, pull requests merged in 2022-05, with the labels that each got.

#164 Initializing category model
  practice-app/server/src/api/validators/category.validator.js
  practice-app/server/src/models/category.js
  practice-app/server/src/models/index.js
Labels: priority-medium, status-needreview, practice-app, practice-app:back-end

#161 Implement the get lesson by category endpoint - 159
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/api/controllers/index.js
  practice-app/server/src/api/controllers/lesson/get_lessons_by_category.js
  practice-app/server/src/api/controllers/lesson/index.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/controllers/user/signup.js
  practice-app/server/src/api/routes/index.js
  practice-app/server/src/api/routes/lesson.js
  practice-app/server/src/api/routes/user.js
  practice-app/server/src/api/validators/user.validator.js
  practice-app/server/src/config/index.js
  practice-app/server/src/models/category.js
  practice-app/server/src/models/index.js
  practice-app/server/src/models/lesson.js
  practice-app/server/src/models/user.js
  practice-app/server/test/signup.test.js
Labels: practice-app, practice-app:back-end

#156 Create user model - 151
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/api/validators/user.validator.js
  practice-app/server/src/loaders/index.js
  practice-app/server/src/loaders/mongoose.js
  practice-app/server/src/models/user.js
Labels: practice-app, practice-app:back-end

#172 Implementing Unit tests for post /api/category -170
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/test/post.category.test.js
Labels: priority-medium, status-needreview, practice-app, practice-app:back-end

#178 Implement the drop lesson endpoint
  package-lock.json
  practice-app/package-lock.json
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/api/controllers/user/dropLesson.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/routes/user.js
  practice-app/server/src/api/validators/user.validator.js
  practice-app/server/src/models/user.js
Labels: practice-app, practice-app:back-end

#171 HOTFIX: POST /api/category, adding no title is given to bad request cases
  practice-app/server/src/api/controllers/category/createCategoryEndpoint.js
Labels: priority-high, status-needreview, practice-app, practice-app:back-end

#191 Practice app/feature/get lesson events endpoint 186
  practice-app/server/src/api/controllers/lesson/get_lesson_events.js
  practice-app/server/src/api/controllers/lesson/index.js
  practice-app/server/src/api/routes/lesson.js
  practice-app/server/src/models/event.js
  practice-app/server/src/models/index.js
Labels: practice-app, practice-app:back-end

#179 Implementing tests for GET /api/categories
  practice-app/server/test/get_categories.test.js
Labels: priority-medium, status-needreview, practice-app, practice-app:back-end

#177 BUGFIX: Inserting beforeEach functions to describe body
  practice-app/server/test/get_lessons_by_category.test.js
  practice-app/server/test/signup.test.js
Labels: bug, priority-high, practice-app, practice-app:back-end

#185 Practice app: Frontend initialization - 183
  practice-app/frontend/.gitignore
  practice-app/frontend/README.md
  practice-app/frontend/index.html
  practice-app/frontend/package-lock.json
  practice-app/frontend/package.json
  practice-app/frontend/public/favicon.ico
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/a.vue
  practice-app/frontend/src/components/b.vue
  practice-app/frontend/src/main.js
  practice-app/frontend/src/route.js
  practice-app/frontend/vite.config.js
Labels: priority-medium, status-needreview, practice-app, practice-app:front-end

#198 Changed some error codes
  practice-app/server/src/api/controllers/user/dropLesson.js
Labels: enhancement, practice-app, practice-app:back-end

#197 Implementing Unit tests for post /api/category -181
  practice-app/server/package-lock.json
  practice-app/server/src/api/controllers/rating/createRating.js
  practice-app/server/src/models/index.js
  practice-app/server/test/post.rating.test.js
Labels: priority-high, status-needreview, practice-app, practice-app:back-end

#200 HOTFIX: POST /rating, null error between unit tests appearing on console fixed
  practice-app/server/src/api/controllers/rating/createRating.js
Labels: bug, practice-app, practice-app:back-end

#202 Implementing tests for GET /rating
  practice-app/server/test/get.ratings.test.js
Labels: practice-app, practice-app:back-end

#201 mocking MongoDB connection during tests
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/config/index.js
  practice-app/server/src/loaders/mongoose.js
Labels: status-needreview, practice-app, practice-app:back-end

#207 Test for drop lesson endpoint is implemented
  practice-app/server/test/drop_lesson.test.js
Labels: practice-app, practice-app:back-end

#206 Implementing the Attend Event Endpoint
  practice-app/server/src/api/controllers/user/attendEvent.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/routes/user.js
  practice-app/server/src/api/validators/user.validator.js
  practice-app/server/src/models/user.js
Labels: priority-medium, status-needreview, practice-app, practice-app:back-end

#209 Implementation of POST /api/event/createEvent endpoint
  practice-app/server/package-lock.json
  practice-app/server/package.json
  practice-app/server/src/api/controllers/event/createEvent.js
  practice-app/server/src/api/controllers/event/createEventEndpoint.js
  practice-app/server/src/api/controllers/event/index.js
  practice-app/server/src/api/routes/event.js
  practice-app/server/src/api/routes/index.js
  practice-app/server/src/config/index.js
Labels: priority-high, status-needreview, feature, practice-app, practice-app:back-end

#208 Practice App: Implementing POST Login Endpoint
  practice-app/server/package-lock.json
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/controllers/user/login.js
  practice-app/server/src/api/routes/user.js
Labels: priority-critical, status-needreview, practice-app, practice-app:back-end

#225 Implementing unit tests for GET api/user/attendedEvents endpoint
  practice-app/server/src/api/controllers/user/getAttendedEvents.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/routes/user.js
  practice-app/server/test/get.attended_events.test.js
Labels: feature, practice-app, practice-app:back-end

#223 Implementation of GET /api/user/attendedEvents endpoint
  practice-app/server/src/api/controllers/user/getAttendedEvents.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/routes/user.js
Labels: status-needreview, feature, practice-app, practice-app:back-end

#228 Writing the Unit Tests for the Attend Event Endpoint
  practice-app/server/test/attend_event.test.js
Labels: priority-medium, status-needreview, practice-app, practice-app:back-end

#222 Practice app/dockerization 219
  practice-app/docker-compose.yml
  practice-app/frontend/.dockerignore
  practice-app/frontend/.env.prod
  practice-app/frontend/dockerfile
  practice-app/server/.dockerignore
  practice-app/server/.env.prod
  practice-app/server/dockerfile
Labels: priority-medium, status-needreview, practice-app, Docker

#231 Generalization of .gitignore and .dockerignore in frontend
  practice-app/frontend/.dockerignore
  practice-app/frontend/.gitignore
Labels: priority-medium, status-needreview, practice-app, practice-app:front-end, Docker

#230 BUGFIX: Get Lessons By Category Unit Tests - Category Model Update
  practice-app/server/test/get_lessons_by_category.test.js
Labels: priority-high, status-completed, practice-app:back-end

#234 Practice app/feature/get lesson events tests 224
  practice-app/server/package-lock.json
  practice-app/server/src/api/controllers/lesson/get_lesson_events.js
  practice-app/server/test/get_lesson_events.test.js
Labels: practice-app, practice-app:back-end

#216 Implementing the Get Specific Event Details Endpoint
  practice-app/server/src/api/controllers/event/getEventDetails.js
  practice-app/server/src/api/controllers/event/index.js
  practice-app/server/src/api/routes/event.js
  practice-app/server/src/api/routes/index.js
  practice-app/server/src/api/validators/event.validator.js
Labels: priority-medium, status-needreview, practice-app, practice-app:back-end

#242 HOTFIX: Fixing the implementation of GET/rating and POST/rating endpoints
  practice-app/server/src/api/controllers/rating/createRating.js
  practice-app/server/src/api/controllers/rating/createRatingEndpoint.js
  practice-app/server/src/api/controllers/rating/getRatingEndpoint.js
  practice-app/server/src/models/rating.js
  practice-app/server/test/get.ratings.test.js
  practice-app/server/test/post.rating.test.js
Labels: status-needreview, practice-app, practice-app:back-end

#243 Practice-App: Creating user interface for rating lessons
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/Rating.vue
  practice-app/frontend/src/route.js
Labels: status-needreview, practice-app, practice-app:front-end

#244 Practice App: FIX | Deleted additional import and use of event.
  practice-app/server/src/api/routes/index.js
Labels: bug, priority-high, status-needreview, practice-app, practice-app:back-end

#235 Practice App: Create signup screen and configure app navigation accordingly
  practice-app/frontend/package-lock.json
  practice-app/frontend/package.json
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/Login.vue
  practice-app/frontend/src/components/Signup.vue
  practice-app/frontend/src/main.js
  practice-app/frontend/src/route.js
  practice-app/package.json
Labels: priority-high, feature, practice-app, practice-app:front-end

#240 implement GET lesson by lecturer endpoint
  practice-app/server/src/api/controllers/lesson/get_lesson_by_lecturer.js
  practice-app/server/src/api/controllers/lesson/index.js
  practice-app/server/src/api/routes/lesson.js
  practice-app/server/src/models/lesson.js
Labels: status-needreview, feature, practice-app:back-end

#190 Implement the enroll lesson endpoint
  practice-app/server/src/api/controllers/user/enrollLesson.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/routes/user.js
  practice-app/server/src/api/validators/user.validator.js
Labels: status-needreview

#238 Implement POST Create Lesson Endpoint
  practice-app/server/src/api/controllers/lesson/createLesson.js
  practice-app/server/src/api/controllers/lesson/createLessonEndpoint.js
  practice-app/server/src/api/controllers/lesson/index.js
  practice-app/server/src/api/routes/lesson.js
Labels: status-needreview

#260 Practice App: Test | Implemented POST Login Endpoint Test
  practice-app/server/src/api/controllers/user/login.js
  practice-app/server/test/enroll_lesson.test.js
  practice-app/server/test/login.test.js
Labels: priority-critical, status-needreview, feature, practice-app, practice-app:back-end

#267 BUGFIX: Get Lessons By Category Unit Tests - Lesson Model Update
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/Category.vue
  practice-app/frontend/src/components/CategoryLessons.vue
  practice-app/frontend/src/components/Rating.vue
  practice-app/frontend/src/components/Signup.vue
  practice-app/frontend/src/components/a.vue
  practice-app/frontend/src/components/b.vue
  practice-app/frontend/src/route.js
  practice-app/server/src/api/routes/lesson.js
  practice-app/server/test/enroll_lesson.test.js
  practice-app/server/test/get_lessons_by_category.test.js
Labels: bug, practice-app, practice-app:back-end

#272 Bugfix drop lesson and get lesson events test update due to lesson model change
  practice-app/server/test/drop_lesson.test.js
  practice-app/server/test/get_lesson_events.test.js
Labels: bug, practice-app, practice-app:back-end

#273 BUGFIX: Create Event Unit Tests - Lesson Model Update
  practice-app/server/test/post.event.test.js
Labels: bug, practice-app, practice-app:back-end

#276 Practice app/feature/get enrolled lessons endpoint 275
  practice-app/server/src/api/controllers/user/getEnrolledLessons.js
  practice-app/server/src/api/controllers/user/index.js
  practice-app/server/src/api/routes/user.js
Labels: feature, practice-app, practice-app:back-end

#255 Practice App: Implement Create Event Page
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/Event.vue
  practice-app/frontend/src/components/Signup.vue
  practice-app/frontend/src/route.js
Labels: feature, practice-app, practice-app:front-end

#279 Added get enrolled lessons tests
  practice-app/server/test/get_enrolled_lessons.test.js
Labels: feature, practice-app, practice-app:back-end

#280 HOTFIX: Fixing error messages on frontend: Rating
  practice-app/frontend/src/components/Rating.vue
  practice-app/server/src/api/routes/index.js
Labels: bug, status-needreview, practice-app, practice-app:front-end

#282 Added enrolled lessons page and drop lesson functionality
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/EnrolledLessons.vue
  practice-app/frontend/src/route.js
Labels: feature, practice-app, practice-app:front-end

#283 BUGFIX: Update lesson item by adding lecturer id column
  practice-app/frontend/src/components/CategoryLessons.vue
  practice-app/server/src/api/controllers/event/createEventEndpoint.js
Labels: bug, priority-medium, practice-app, practice-app:front-end

#256 Practice App: Implement Attended Events Page
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/AttendedEvents.vue
  practice-app/frontend/src/route.js
Labels: feature, practice-app, practice-app:front-end

#287 Practice App: Create Attend Event Screen
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/Attend.vue
  practice-app/frontend/src/route.js
Labels: priority-high, status-needreview, feature, practice-app, practice-app:front-end

#290 Practice app/feature/frontend get lesson events 289
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/EnrolledLessons.vue
  practice-app/frontend/src/components/LessonEvents.vue
  practice-app/frontend/src/route.js
Labels: feature, practice-app, practice-app:front-end

#294 Practice App: Frontend | Implemented Search Lecture by Name Page
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/SearchLesson.vue
  practice-app/frontend/src/route.js
Labels: priority-critical, status-needreview, feature, practice-app, practice-app:front-end

#298 Changing static localhost URI to environment variable
  practice-app/frontend/src/components/Event.vue
Labels: bug, Deployment

#300 not reloading problem
  practice-app/frontend/src/route.js
Labels: bug, priority-critical, practice-app, practice-app:front-end, Deployment

#301 Practice App: Create Get Event Details Screen, Update getEventDetails and Test Part
  practice-app/frontend/src/App.vue
  practice-app/frontend/src/components/GetEventDetails.vue
  practice-app/frontend/src/route.js
  practice-app/server/src/api/controllers/event/getEventDetails.js
  practice-app/server/test/get_event_details.test.js
Labels: priority-critical, status-needreview, feature, practice-app, practice-app:front-end
