Repository bounswe/bounswe2022group2, pull requests merged in 2022-12, with the labels that each got.

#585 Mobile/create ls backend
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/helpers/validators.dart
  learnify/mobile/lib/features/learning-space/models/categories_response_model.dart
  learnify/mobile/lib/features/learning-space/models/create_ls_request_model.dart
  learnify/mobile/lib/features/learning-space/models/create_ls_response_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/create_learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/create/add_categories.dart
  learnify/mobile/lib/features/learning-space/view/components/create/learning_space_form.dart
  learnify/mobile/lib/features/learning-space/view/create_learning_space_screen.dart
Labels: mobile, back-connection

#592 Mobile: Learning Space Events Section - 583
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/extensions/number/number_extensions.dart
  learnify/mobile/lib/core/managers/network/models/any_model.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/learning-space/models/event.dart
  learnify/mobile/lib/features/learning-space/service/learning_space_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_item.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_list.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/events/events_list.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/pubspec.yaml
Labels: priority-medium, Status: Completed, feature, mobile

#562 561 backend post learning space join endpoint
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_enroll_to_learning_space.js
  learnify/backend/api/controllers/learning_space/post_learning_space.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/learning_space.js
Labels: priority-medium, status-waitingresponse, back-end

#564 563 backend implementing unit tests for enrolling learning space
  learnify/backend/test/post_learning_space_enroll.test.js
Labels: status-needreview, back-end

#590 Backend: Create post endpoint implemented
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_create_post.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/learning_space.js
  learnify/backend/models/post.js
Labels: priority-high, status-needreview, back-end

#597 Backend: Annotation Endpoint Creator and LS IDs
  learnify/backend/api/controllers/learning_space/get_courses.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_create_annotation.js
  learnify/backend/api/controllers/learning_space/post_create_post.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/annotation.js
  learnify/backend/models/chapter.js
  learnify/backend/models/learning_space.js
  learnify/backend/models/post.js
Labels: priority-high, status-needreview, back-end

#595 Mobile: Create Annotation Back End Connection - 594
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/managers/network/custom_interceptors.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/image/annotatable_image.dart
  learnify/mobile/lib/core/widgets/image/image_painter.dart
  learnify/mobile/lib/core/widgets/measured_size.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/core/widgets/text/annotatable/custom_text_selection_controls.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/learning-space/models/annotation/annotation_model.dart
  learnify/mobile/lib/features/learning-space/models/annotation/create_annotation_request.dart
  learnify/mobile/lib/features/learning-space/models/chapter_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/learning_space_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/create_learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
  learnify/mobile/lib/features/learning-space/view/create_learning_space_screen.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/pubspec.yaml
  learnify/mobile/test/chapter_test.dart
  learnify/mobile/test/test_helpers.dart
Labels: priority-high, Status: Completed, mobile, back-connection

#603 Backend: Edit Annotations Endpoint
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/put_edit_annotation.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
Labels: priority-high, status-needreview, back-end

#607 Mobile: Text Annotation Tests - 606
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/core/widgets/text/annotatable/custom_annotatable_item.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/test/annotation/text_annotations_test.dart
Labels: priority-medium, status-needreview, mobile, tests

#612 Mobile: Image Annotation Tests - 608
  learnify/mobile/lib/core/widgets/image/annotatable_image.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_item.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
  learnify/mobile/test/annotation/image_annotations_test.dart
Labels: priority-medium, Status: Completed, mobile, tests

#587 Mobile/learning space detail enhancement
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/features/home/model/get_learning_spaces_response_model.dart
  learnify/mobile/lib/features/home/model/learning_space_model.dart
  learnify/mobile/lib/features/home/service/home_service.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/models/enroll_ls_request_model.dart
  learnify/mobile/lib/features/learning-space/models/enroll_ls_response_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/features/view-learning-spaces/view/taken_ls_screen.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_list.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_screen.dart
  learnify/mobile/test/annotation/image_annotations_test.dart
  learnify/mobile/test/annotation/text_annotations_test.dart
  learnify/mobile/test/chapter_test.dart
Labels: enhancement, priority-medium, Status: Completed, mobile

#617 615 getters for learningspaces: get most participated learning spaces if a query is not given
  learnify/backend/api/controllers/learning_space/semantic_search_learning_space.js
Labels: priority-high, status-needreview, back-end

#591 Dev frontend learning space initial layout
  learnify/web/src/App.js
  learnify/web/src/images/elipse.png
  learnify/web/src/images/learning-space-illustration.svg
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/style.css
Labels: front-end

#572 Dev frontend create ls
  learnify/web/src/App.js
  learnify/web/src/components/CreateLearningSpaceButton.js
  learnify/web/src/components/Dropdown.js
  learnify/web/src/components/SelectIconGrid.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/CreateLS.js
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/style.css
Labels: status-new, front-end

#626 Dev frontend backend of ls
  learnify/web/src/pages/LearningSpace.js
Labels: front-end

#627 Frontend: interconnection between the create ls and ls page is done is done
  learnify/web/src/pages/CreateLS.js
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/LearningSpace.js
Labels: front-end

#623 Mobile/post add edit screen 618
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/learning-space/constants/widget_keys.dart
  learnify/mobile/lib/features/learning-space/models/learning_space_model.dart
  learnify/mobile/lib/features/learning-space/models/post_model.dart
  learnify/mobile/lib/features/learning-space/view-model/add_post_view_model.dart
  learnify/mobile/lib/features/learning-space/view/add_post_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_list.dart
  learnify/mobile/lib/features/learning-space/view/components/create/post_form.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-medium, status-needreview, feature, mobile

#622 Mobile: LS Forum
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/forum_list.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: feature, mobile

#632 Mobile: Implemented Search Screen with Backend Connection
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/search/constants/search_screen_constants.dart
  learnify/mobile/lib/features/search/model/search_response_model.dart
  learnify/mobile/lib/features/search/service/i_search_service.dart
  learnify/mobile/lib/features/search/service/search_service.dart
  learnify/mobile/lib/features/search/view-model/search_view_model.dart
  learnify/mobile/lib/features/search/view/components/search_bar_widget.dart
  learnify/mobile/lib/features/search/view/components/search_result_widget.dart
  learnify/mobile/lib/features/search/view/search_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-high, status-needreview, feature, mobile

#637 Frontend: HOTFIX Learning Space Page Structural Overflow
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/style.css
Labels: priority-medium, Status: Completed, front-end, hotfix

#621 GET endpoints regarding user and learningspace relation
  learnify/backend/api/controllers/learning_space/get_by_creator.js
  learnify/backend/api/controllers/learning_space/get_by_participation.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/routes/learning_space.js
Labels: priority-high, status-needreview, back-end

#642 Mobile/taken recommended ls backend connection 634
  learnify/mobile/lib/features/home/components/course_preview.dart
  learnify/mobile/lib/features/home/model/get_learning_spaces_response_model.dart
  learnify/mobile/lib/features/home/service/I_home_service.dart
  learnify/mobile/lib/features/home/service/home_service.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/models/enroll_ls_response_model.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/features/search/view/components/search_result_widget.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_list.dart
Labels: status-needreview, feature, mobile, back-connection

#633 Frontend: Learning Spaces by Category Pages Implementation
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/App.js
  learnify/web/src/babel-plugin-macros.config.js
  learnify/web/src/babel.config.js
  learnify/web/src/components/Categories.js
  learnify/web/src/components/LearningSpaceDetailBox.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/CategoriesPage.js
  learnify/web/src/pages/CreateLS.js
  learnify/web/src/pages/LSbyCategoryPage.js
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/style.css
Labels: priority-high, status-needreview, front-end

#644 Mobile: Static User Search and Recommended LS in Search Implemented
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/search/view-model/search_view_model.dart
  learnify/mobile/lib/features/search/view/components/ls_search_result_widget.dart
  learnify/mobile/lib/features/search/view/components/search_bar_widget.dart
  learnify/mobile/lib/features/search/view/components/search_result_widget.dart
  learnify/mobile/lib/features/search/view/components/user_search_result_widget.dart
  learnify/mobile/lib/features/search/view/search_screen.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_list.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-high, status-needreview, feature, mobile

#647 Mobile: Tests for Pages Which Use View All List
  learnify/mobile/test/taken_ls_screen_test.dart
  learnify/mobile/test/view_all_screen_test.dart
Labels: priority-high, status-needreview, mobile, tests

#649 Mobile/backend connection add edit post
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/features/auth/verification/model/user_model.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/learning-space/constants/learning_space_constants.dart
  learnify/mobile/lib/features/learning-space/models/add_post_request_model.dart
  learnify/mobile/lib/features/learning-space/models/annotation/annotation_model.dart
  learnify/mobile/lib/features/learning-space/models/annotation/create_annotation_request.dart
  learnify/mobile/lib/features/learning-space/models/chapter_model.dart
  learnify/mobile/lib/features/learning-space/models/edit_post_request_model.dart
  learnify/mobile/lib/features/learning-space/models/enroll_ls_request_model.dart
  learnify/mobile/lib/features/learning-space/models/event.dart
  learnify/mobile/lib/features/learning-space/models/learning_space_model.dart
  learnify/mobile/lib/features/learning-space/models/post_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/add_post_view_model.dart
  learnify/mobile/lib/features/learning-space/view-model/annotations_view_model.dart
  learnify/mobile/lib/features/learning-space/view-model/create_learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/add_post_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/events/events_list.dart
  learnify/mobile/lib/features/learning-space/view/components/forum_list.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_item.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_list.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/test/annotation/image_annotations_test.dart
  learnify/mobile/test/annotation/text_annotations_test.dart
  learnify/mobile/test/chapter_test.dart
Labels: priority-medium, status-needreview, feature, mobile, back-connection

#653 Mobile/bugfix/annotation model update
  learnify/mobile/lib/core/base/model/base_model.dart
  learnify/mobile/lib/core/managers/navigation/navigation_manager.dart
  learnify/mobile/lib/core/managers/network/custom_interceptors.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/features/auth/forget-password/view-model/forget_password_view_model.dart
  learnify/mobile/lib/features/auth/login/view-model/login_view_model.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/models/annotation/annotation_model.dart
  learnify/mobile/lib/features/learning-space/models/annotation/create_annotation_request.dart
  learnify/mobile/lib/features/learning-space/models/learning_space_model.dart
  learnify/mobile/lib/features/learning-space/models/post_model.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/add_post_view_model.dart
  learnify/mobile/lib/features/learning-space/view-model/create_learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/add_post_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_item.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_list.dart
  learnify/mobile/lib/features/learning-space/view/create_learning_space_screen.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/search/view-model/search_view_model.dart
  learnify/mobile/lib/features/view-learning-spaces/view/taken_ls_screen.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/lib/product/constants/icon_keys.dart
  learnify/mobile/test/annotation/image_annotations_test.dart
  learnify/mobile/test/annotation/text_annotations_test.dart
  learnify/mobile/test/chapter_test.dart
  learnify/mobile/test/profile_screen_test.dart
Labels: bug, priority-high, mobile, hotfix

#657 Frontend: Join Learning Space
  learnify/web/src/components/JoinLsButton.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/LoginForm.js
Labels: front-end

#655 Frontend: Semantic Search Bar Implementation
  learnify/web/package-lock.json
  learnify/web/src/components/NavBar.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/style.css
Labels: priority-high, status-needreview, feature, front-end

#666 Backend: Unit Tests for Edit Post Endpoint
  learnify/backend/test/put_edit_post.test.js
Labels: priority-high, status-needreview, back-end

#664 Backend: Create Post endpoint Unit Test
  learnify/backend/test/post_create_post.test.js
Labels: priority-high, status-needreview, back-end

#658 Frontend: Implementation of the Text and Image Annotation
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/components/Post.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/style.css
Labels: priority-critical, status-needreview, feature, front-end

#661 Frontend: Implementation For Edit Post Feature and Backend Connection
  learnify/web/src/components/Post.js
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/style.css
Labels: priority-critical, status-needreview, feature, front-end, back-connection

#667 Fix overflow error in enroll button and form fields in ls create/edit…
  learnify/mobile/lib/features/learning-space/view/components/create/learning_space_form.dart
  learnify/mobile/lib/features/learning-space/view/components/create/post_form.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
Labels: priority-high, Status: Completed, mobile, hotfix

#672 Milestone 2: Preparing Deliverables and Group Review
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, status-needreview, milestone

#680 Frontend: Unit Tests for Learning Spaces by Category Page
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/__tests__/CategoriesPage.test.js
  learnify/web/src/__tests__/LSbyCategoryPage.test.js
  learnify/web/src/__tests__/__snapshots__/CategoriesPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/LSbyCategoryPage.test.js.snap
  learnify/web/src/components/Footer.js
  learnify/web/src/components/LearningSpaceDetailBox.js
  learnify/web/src/components/NavBar.js
  learnify/web/src/pages/CategoriesPage.js
  learnify/web/src/pages/LSbyCategoryPage.js
Labels: priority-low, status-needreview, front-end, tests

#676 Frontend: Unit Tests for Categories Page
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/__tests__/CategoriesPage.test.js
  learnify/web/src/__tests__/__snapshots__/CategoriesPage.test.js.snap
  learnify/web/src/components/Footer.js
  learnify/web/src/components/NavBar.js
  learnify/web/src/pages/CategoriesPage.js
Labels: priority-low, status-needreview, front-end, tests

#688 Milestone-2 Report: My Individual Milestone
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#689 Implementation of Unit Tests for the Footer Component.
  learnify/web/src/__tests__/Footer.test.js
  learnify/web/src/__tests__/__snapshots__/Footer.test.js.snap
Labels: front-end, tests

#674 Milestone-2 Report: Annotations
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#692 Milestone-2 Report: Individual Report in Deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#693 Milestone-2 Report: Individual Report and Issue & PR Links
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#697 Individual contribution & PR/issue Information
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#699 Individual report Koray's parts
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#702 Milestone2 gokay personal report
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-critical, milestone

#708 Milestone 2: Summary of Work - Bahrican
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, Status: Completed, milestone

#715 Milestone 2: Mobile UI/UX Section - Bahrican
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, Status: Completed, milestone, mobile

#709 Milestone-2: Egemen's individual report
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: priority-high, type-documentation, Status: Completed, milestone

#716 Ezgi individual contibutions
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, status-needreview, milestone

#717 Update my individual contributions
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#721 Egemen's individual contribution table and report are added
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, Status: Completed, milestone

#685 Milestone-2 Report: API Documentation
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone, back-end

#724 Milestone-2 Report: List and Status of Deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#722 batuhan celik personal contribution
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: Status: Completed, milestone

#725 Milestone-2: Contribution report - Onur
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: type-documentation, status-needreview, milestone

#727 Milestone 2: Individual Report
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#703 Executive Summary
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: status-new, status-needreview, milestone

#729 Milestone-2: Web Application's UI Designs - Altay
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#732 Milestone-2: Web Application's UI Designs - Gökay
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, milestone

#731 Milestone-2: Summary of work - Onur
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, status-needreview, milestone

#734 Milestone 2: Mobile Related Additions to the Annotations Part
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#735 add time consumption table
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, status-needreview, milestone

#736 Update group_review.md UI's
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#737 Milestone-2: Mobile User Interface - Onur
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, status-needreview, milestone

#733 Milestone-2 : Progress according to to requirements
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#739 Milestone-2 Report: Time Consumption of my Individual Work
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-critical, type-documentation, milestone

#740 Milestone-2: Added time tracking
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#741 Update group_review.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, milestone

#742 Milestone-2: Update on my individual part
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#743 Update deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
Labels: type-documentation, milestone

#744 Milestone-2: Web Application's UI Designs - Enes
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#745 Update group_review.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, milestone

#746 Milestone 2: Individual Work Wime Tracking - Bahrican
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, milestone

#747 Milestone-2: Status of Deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#748 Milestone 2: Individual Work Wime Tracking - Enes
  deliverables/CMPE451_Customer_Presentation_Milestone_2/deliverables.md
  deliverables/CMPE451_Customer_Presentation_Milestone_2/group_review.md
Labels: type-documentation, status-needreview, milestone

#694 Frontend: unit tests for three components initialized
  learnify/web/src/__tests__/Dropdown.test.js
  learnify/web/src/__tests__/JoinLsButton.test.js
  learnify/web/src/__tests__/SelectIconGrid.test.js
  learnify/web/src/__tests__/__snapshots__/Dropdown.test.js.snap
  learnify/web/src/__tests__/__snapshots__/JoinLsButton.test.js.snap
  learnify/web/src/__tests__/__snapshots__/SelectIconGrid.test.js.snap
Labels: front-end, tests

#749 Dev frontend
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/__tests__/CategoriesPage.test.js
  learnify/web/src/__tests__/Dropdown.test.js
  learnify/web/src/__tests__/Footer.test.js
  learnify/web/src/__tests__/JoinLsButton.test.js
  learnify/web/src/__tests__/LSbyCategoryPage.test.js
  learnify/web/src/__tests__/NavBar.test.js
  learnify/web/src/__tests__/NotFoundPage.test.js
  learnify/web/src/__tests__/SelectIconGrid.test.js
  learnify/web/src/__tests__/__snapshots__/CategoriesPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/Dropdown.test.js.snap
  learnify/web/src/__tests__/__snapshots__/Footer.test.js.snap
  learnify/web/src/__tests__/__snapshots__/JoinLsButton.test.js.snap
  learnify/web/src/__tests__/__snapshots__/LSbyCategoryPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/NavBar.test.js.snap
  learnify/web/src/__tests__/__snapshots__/NotFoundPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/SelectIconGrid.test.js.snap
  learnify/web/src/components/Footer.js
  learnify/web/src/components/LearningSpaceDetailBox.js
  learnify/web/src/components/NavBar.js
  learnify/web/src/pages/CategoriesPage.js
  learnify/web/src/pages/LSbyCategoryPage.js
  learnify/web/src/pages/NotFoundPage.js
Labels: front-end

#752 Mobile: Map integration into the Event Item
  learnify/mobile/android/app/src/main/AndroidManifest.xml
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/lib/features/learning-space/models/event.dart
  learnify/mobile/lib/features/learning-space/models/geolocation/geolocation_model.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_map.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/pubspec.yaml
Labels: priority-medium, status-needreview, feature, mobile

#754 Mobile: Event List and Preview Test
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/events/events_list.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/test/events/events_list_preview_test.dart
Labels: priority-medium, status-needreview, mobile, tests

#760 Mobile: Implementing Settings Screen
  learnify/mobile/assets/images/email.png
  learnify/mobile/assets/images/github.png
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/core/widgets/app-bar/default_app_bar.dart
  learnify/mobile/lib/core/widgets/text/bullet_text.dart
  learnify/mobile/lib/core/widgets/text/colored/colored_bullet_text.dart
  learnify/mobile/lib/core/widgets/text/colored/colored_text.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/settings/constants/settings_constants.dart
  learnify/mobile/lib/features/settings/constants/settings_options.dart
  learnify/mobile/lib/features/settings/view-model/settings_view_model.dart
  learnify/mobile/lib/features/settings/view/components/settings_item.dart
  learnify/mobile/lib/features/settings/view/components/social_account.dart
  learnify/mobile/lib/features/settings/view/settings_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-medium, status-needreview, feature, mobile

#769 Mobile: Tests - Settings Screen
  learnify/mobile/test/settings/settings_test.dart
Labels: priority-medium, status-needreview, mobile, tests

#767 Frontend: Learning Space Preview Box BE Connection
  learnify/web/src/components/LearningSpacePrev.js
  learnify/web/src/components/component_styles.css
Labels: enhancement, priority-medium, status-needreview, front-end, back-connection

#787 Event endpoints implementation: create event and 3 getters
  learnify/backend/api/controllers/events/get_event_by_creation.js
  learnify/backend/api/controllers/events/get_event_by_participation.js
  learnify/backend/api/controllers/events/get_events_by_learning_space.js
  learnify/backend/api/controllers/events/index.js
  learnify/backend/api/controllers/events/post_event.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/routes/event.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/validators/event_validator.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/event.js
  learnify/backend/models/index.js
  learnify/backend/test/post_event.test.js
  learnify/backend/test/post_learning_point.test.js
Labels: status-needreview, back-end

#793 Revert "Event endpoints implementation: create event and 3 getters"
  learnify/backend/api/controllers/events/get_event_by_creation.js
  learnify/backend/api/controllers/events/get_event_by_participation.js
  learnify/backend/api/controllers/events/get_events_by_learning_space.js
  learnify/backend/api/controllers/events/index.js
  learnify/backend/api/controllers/events/post_event.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/routes/event.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/validators/event_validator.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/event.js
  learnify/backend/models/index.js
  learnify/backend/test/post_event.test.js
  learnify/backend/test/post_learning_point.test.js
Labels: priority-high

#796 Frontend: Home Page My Learning Spaces Backend Connection
  learnify/web/src/components/LearningSpacePrev.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end, back-connection

#789 Dev frontend profile page initial layout
  learnify/web/src/App.js
  learnify/web/src/images/happy.png
  learnify/web/src/pages/ProfilePage.js
  learnify/web/src/pages/style.css
Labels: status-needreview, front-end

#801 Frontend: Home Page Popular Learning Spaces Backend Connection
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end, back-connection

#804 Backend FIX: Annotation ID will hold LS and Post ID
  learnify/annotations-service/backend/api/controllers/post_create_annotation.js
  learnify/annotations-service/backend/api/routes/annotations.js
Labels: back-end, hotfix

#805 Frontend: My Learning Spaces Page
  learnify/web/src/App.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/MyLearningSpacesPage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end

#803 Backend: Create Annotation Endpoint for Learnify
  learnify/backend/api/controllers/annotation/index.js
  learnify/backend/api/controllers/annotation/post_create_annotation.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_create_annotation.js
  learnify/backend/api/routes/annotations-service.js
  learnify/backend/api/routes/annotations.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/annotations_init_validator.js
  learnify/backend/config/index.js
  learnify/backend/dockerfile
Labels: priority-high, back-end

#807 Frontend: Unit Tests for My Learning Spaces Page
  learnify/web/src/__tests__/MyLearningSpacesPage.test.js
  learnify/web/src/__tests__/__snapshots__/MyLearningSpacesPage.test.js.snap
  learnify/web/src/pages/MyLearningSpacesPage.js
Labels: priority-medium, status-needreview, front-end, tests

#800 Frontend: profile photo component
  learnify/web/src/components/ProfilePhoto.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
Labels: status-needreview, front-end

#818 BUGFIX: Duplicate Annotation IDs on Annotation Service POST Create Endpoint
  learnify/annotations-service/backend/api/controllers/post_create_annotation.js
Labels: bug, back-end, annotation-service

#817 Frontend: Popular Learning Spaces Page
  learnify/web/src/App.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/PopularLearningSpacesPage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end

#815 Frontend: Implementation of About Page
  learnify/web/src/App.js
  learnify/web/src/pages/AboutPage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end

#825 Backend: Annotations Service New Database and Deployment
  learnify/annotations-service/backend/api/controllers/post_create_annotation.js
  learnify/annotations-service/backend/config/index.js
  learnify/annotations-service/backend/dockerfile
  learnify/backend/README.md
  learnify/backend/api/controllers/annotation/post_create_annotation.js
  learnify/backend/api/controllers/events/get_event_by_creation.js
  learnify/backend/api/controllers/events/get_event_by_participation.js
  learnify/backend/api/controllers/events/get_events_by_learning_space.js
  learnify/backend/api/controllers/events/index.js
  learnify/backend/api/controllers/events/post_event.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/routes/event.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/validators/event_validator.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/config/index.js
  learnify/backend/dockerfile
  learnify/backend/models/event.js
  learnify/backend/models/index.js
  learnify/backend/test/post_event.test.js
  learnify/backend/test/post_learning_point.test.js
  learnify/docker-compose.yml
Labels: priority-high, back-end, annotation-service

#770 Mobile: Fix Annotation Model
  learnify/mobile/lib/core/managers/network/custom_interceptors.dart
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/lib/core/widgets/image/annotatable_image.dart
  learnify/mobile/lib/features/learning-space/models/annotation/annotation_model.dart
  learnify/mobile/lib/features/learning-space/models/annotation/create_annotation_request.dart
  learnify/mobile/lib/features/learning-space/models/post_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/annotations_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_item.dart
  learnify/mobile/test/annotation/image_annotations_test.dart
  learnify/mobile/test/annotation/text_annotations_test.dart
Labels: priority-high, status-needreview, mobile, hotfix

#809 Backend: Get Annotations by Id for Annotations Service
  learnify/annotations-service/backend/api/controllers/get_annotations_by_id.js
  learnify/annotations-service/backend/api/controllers/index.js
  learnify/annotations-service/backend/api/routes/annotations.js
  learnify/backend/models/annotation.js
  learnify/backend/models/index.js
Labels: priority-high, back-end

#820 797 implementation of profile page for the backend
  learnify/backend/api/controllers/user/get_user_profile.js
  learnify/backend/api/controllers/user/index.js
  learnify/backend/api/controllers/user/put_update_profile.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/routes/user.js
  learnify/backend/api/validators/user_validator.js
  learnify/backend/models/index.js
  learnify/backend/models/user.js
  learnify/backend/utils/user/get_user_profile.js
Labels: status-needreview, back-end

#827 Revert "Revert "Event endpoints implementation: create event and 3 ge…
  learnify/backend/api/controllers/events/get_event_by_creation.js
  learnify/backend/api/controllers/events/get_event_by_participation.js
  learnify/backend/api/controllers/events/get_events_by_learning_space.js
  learnify/backend/api/controllers/events/index.js
  learnify/backend/api/controllers/events/post_event.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/routes/event.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/validators/event_validator.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/event.js
  learnify/backend/models/index.js
  learnify/backend/test/post_event.test.js
  learnify/backend/test/post_learning_point.test.js
Labels: back-end

#811 Backend: Get Annotations by Learning Space and Post ID for Learnify Server
  learnify/backend/api/controllers/annotation/get_annotations_by_id.js
  learnify/backend/api/controllers/annotation/index.js
  learnify/backend/api/routes/annotations-service.js
  learnify/backend/models/index.js
Labels: priority-high, status-needreview, back-end

#829 Event participation functionality for backend
  learnify/backend/api/controllers/events/index.js
  learnify/backend/api/controllers/events/post_participate_event.js
  learnify/backend/api/routes/event.js
  learnify/backend/models/event.js
  learnify/backend/package-lock.json
  learnify/backend/package.json
  learnify/backend/test/post_participate_event.test.js
Labels: priority-medium, status-needreview, back-end

#832 Dev frontend contact page
  learnify/web/src/App.js
  learnify/web/src/images/leutee.png
  learnify/web/src/pages/ContactPage.js
  learnify/web/src/pages/style.css
Labels: feature, front-end

#833 Mobile: Get Events Back-end Connection
  learnify/mobile/assets/images/person.png
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/helpers/color_helpers.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/text/circled_text.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/learning-space/models/event/event.dart
  learnify/mobile/lib/features/learning-space/models/event/get_events_response.dart
  learnify/mobile/lib/features/learning-space/models/geolocation/geolocation_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/events/events_list.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_item.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/constants/icon_keys.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/test/events/event_details_test.dart
  learnify/mobile/test/events/events_list_preview_test.dart
Labels: priority-high, Status: Completed, mobile, back-end

#835 Frontend: Dev frontend profile page bio
  learnify/web/src/components/AboutUser.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
Labels: status-needreview, front-end

#834 Mobile: Clickable Learning Space Participants
  learnify/mobile/lib/features/home/components/course_preview.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/models/learning_space_model.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
Labels: priority-medium, Status: Completed, feature, mobile

#838 Dev frontend user name component
  learnify/web/src/components/UserNameProfile.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
Labels: priority-medium, front-end

#841 Frontend: connection of bio component
  learnify/web/src/components/AboutUser.js
  learnify/web/src/components/ProfilePhoto.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
Labels: status-needreview, front-end

#839 Frontend: Unit Tests for Popular Learning Spaces Page
  learnify/web/src/__tests__/PopularLearningSpacesPage.test.js
  learnify/web/src/__tests__/__snapshots__/PopularLearningSpacesPage.test.js.snap
Labels: priority-medium, status-needreview, front-end, tests

#846 Backend: User Search API
  learnify/annotations-service/backend/.env.prod
  learnify/backend/api/controllers/user/get_search_users.js
  learnify/backend/api/controllers/user/index.js
  learnify/backend/api/routes/user.js
Labels: priority-high, status-needreview, back-end

#784 Create Comment endpoint
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_create_comment.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/comment.js
  learnify/backend/models/index.js
  learnify/backend/models/post.js
  learnify/backend/test/post_create_comment.test.js
Labels: back-end

#831 Backend: Upvote/Downvote Post API
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/put_edit_annotation.js
  learnify/backend/api/controllers/learning_space/put_vote_post.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/post.js
Labels: priority-high, status-needreview, back-end

#849 Create comment endpoint minor bugfix
  learnify/backend/api/controllers/learning_space/post_create_comment.js
Labels: bug, Status: Completed, back-end

#843 Dev frontend profile page profile photo
  learnify/web/src/components/ProfilePhoto.js
  learnify/web/src/pages/ProfilePage.js
Labels: front-end

#783 Mobile: My Profile Screen Update
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/features/profile/constants/widget_keys.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/profile/view/components/profile_form.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/test/profile_screen_test.dart
Labels: enhancement, priority-high, status-needreview, mobile

#854 Dev frontend profile page ls component
  learnify/web/src/components/LearningSpaceDetailsProfile.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, front-end

#850 Frontend: profile page connections
  learnify/web/src/App.js
  learnify/web/src/components/NavBar.js
  learnify/web/src/components/Participants.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
Labels: status-needreview, front-end

#853 Frontend: Backend Connection For Create and Get Comment
  learnify/web/src/components/Comment.js
  learnify/web/src/components/Post.js
Labels: priority-medium, status-needreview, front-end, back-connection

#859 Frontend: Backend Connection for Getting Events on Learning Space Page
  learnify/web/src/App.js
  learnify/web/src/__tests__/PopularLearningSpacesPage.test.js
  learnify/web/src/__tests__/__snapshots__/PopularLearningSpacesPage.test.js.snap
  learnify/web/src/components/Comment.js
  learnify/web/src/components/Post.js
  learnify/web/src/images/leutee.png
  learnify/web/src/pages/ContactPage.js
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, front-end, back-connection

#857 Dev frontend update profile
  learnify/web/src/components/AboutUser.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/ProfilePage.js
  learnify/web/src/pages/style.css
Labels: front-end

#848 Frontend: Creating Event Component for Learning Space Page
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/components/Event.js
  learnify/web/src/components/Post.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/LearningSpace.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end

#861 Dev frontend profile page general development
  learnify/web/src/App.js
  learnify/web/src/components/AboutUser.js
  learnify/web/src/components/LearningSpaceDetailsProfile.js
  learnify/web/src/components/NavBar.js
  learnify/web/src/components/Participants.js
  learnify/web/src/components/ProfilePhoto.js
  learnify/web/src/components/UserNameProfile.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/images/happy.png
  learnify/web/src/pages/ProfilePage.js
  learnify/web/src/pages/style.css
Labels: enhancement, front-end

#864 Backend: Implementing and Bug Fixing Unit Tests
  learnify/annotations-service/backend/api/middlewares/index.js
  learnify/backend/api/controllers/learning_space/put_vote_post.js
  learnify/backend/test/post_create_annotation.test.js
  learnify/backend/test/post_learning_point.test.js
  learnify/backend/test/post_learning_space_enroll.test.js
  learnify/backend/test/put_edit_post.test.js
  learnify/backend/test/put_vote_post.test.js
Labels: priority-high, status-needreview, back-end

#826 Mobile: post comments
  learnify/mobile/assets/lang/en.json
  learnify/mobile/assets/lang/tr.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/features/learning-space/models/comment/add_comment_request_model.dart
  learnify/mobile/lib/features/learning-space/models/comment/add_comment_response_model.dart
  learnify/mobile/lib/features/learning-space/models/comment/comment_model.dart
  learnify/mobile/lib/features/learning-space/models/post_model.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/comments_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_item.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_list.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/test/chapter_test.dart
Labels: status-needreview, feature, mobile

#869 Mobile: Create event screen
  learnify/mobile/android/app/src/main/AndroidManifest.xml
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/features/learning-space/constants/widget_keys.dart
  learnify/mobile/lib/features/learning-space/models/event/create_event_request.dart
  learnify/mobile/lib/features/learning-space/models/event/create_event_response.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/create/event_form.dart
  learnify/mobile/lib/features/learning-space/view/create_event_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/pubspec.yaml
Labels: priority-high, status-needreview, feature, mobile

#878 Revision of tests : POST /auth/signup , POST /learningspace, POST /events, POST /events/participate/:eventId
  learnify/backend/test/post_auth_signup.test.js
  learnify/backend/test/post_event.test.js
  learnify/backend/test/post_learning_point.test.js
  learnify/backend/test/post_participate_event.test.js
Labels: status-needreview, back-end, tests

#880 Mobile: Create event backend connection
  learnify/mobile/lib/features/learning-space/models/event/create_event_request.dart
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/events/events_list.dart
  learnify/mobile/lib/features/learning-space/view/create_event_screen.dart
Labels: priority-high, status-needreview, mobile, back-connection

#889 learning space recommendation endpoint
  learnify/backend/api/controllers/learning_space/get_reccomended.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/semantic_search_learning_space.js
  learnify/backend/api/routes/learning_space.js
  learnify/semantic_service/main.py
Labels: status-needreview, back-end

#890 Mobile: User search backend connection
  learnify/mobile/lib/features/search/model/ls_search_response_model.dart
  learnify/mobile/lib/features/search/model/user_search_response_model.dart
  learnify/mobile/lib/features/search/service/i_search_service.dart
  learnify/mobile/lib/features/search/service/search_service.dart
  learnify/mobile/lib/features/search/view-model/search_view_model.dart
  learnify/mobile/lib/features/search/view/components/user_preview.dart
Labels: priority-critical, status-needreview, mobile, back-connection

#860 Frontend: Create Event Component
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/components/CreateEventForm.js
  learnify/web/src/components/EventForm.js
  learnify/web/src/components/MapPicker.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/LearningSpace.js
  package-lock.json
  package.json
Labels: priority-medium, status-needreview, feature, front-end

#879 Dev frontend profile page edit
  learnify/web/src/components/AboutUser.js
  learnify/web/src/components/ProfilePhoto.js
  learnify/web/src/pages/ProfilePage.js
Labels: status-needreview, front-end

#875 Frontend: Backend Connection for Upvote and Downvote Functionality for Posts and Comments
  learnify/web/src/components/Comment.js
  learnify/web/src/components/Post.js
Labels: priority-medium, status-needreview, front-end, back-connection

#876 Frontend: Fixing the Footer Navigation
  learnify/web/src/components/Footer.js
Labels: priority-medium, status-needreview, front-end, hotfix

#881 Frontend: User Search Component
  learnify/web/src/components/NavBar.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/pages/style.css
Labels: enhancement, priority-high, status-needreview, feature, front-end

#883 Frontend: Backend Connection for Editing Comments of Learning Space Posts
  learnify/web/src/components/Comment.js
  learnify/web/src/components/Post.js
  learnify/web/src/components/component_styles.css
Labels: priority-medium, status-needreview, front-end, back-connection

#902 Frontend: Recommended Learning Spaces in Home Page
  learnify/web/src/pages/HomePage.js
Labels: enhancement, priority-critical, status-needreview, feature, front-end

#905 Mobile: HOTFIX Remove Default Images
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/features/learning-space/models/post_model.dart
  learnify/mobile/lib/features/learning-space/view/components/post/post_item.dart
Labels: priority-high, status-needreview, mobile, hotfix

#904 Frontend: comment and post link added to user
  learnify/web/src/components/Comment.js
  learnify/web/src/components/Post.js
  learnify/web/src/components/component_styles.css
Labels: front-end

#908 Frontend: Backend Connection for Joining Events on Learning Space Page
  learnify/web/src/components/Event.js
  learnify/web/src/components/Post.js
Labels: priority-critical, status-needreview, front-end, back-connection

#909 Frontend: Recommended Learning Spaces Page
  learnify/web/src/App.js
  learnify/web/src/components/Footer.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/RecommendedLearningSpacesPage.js
  learnify/web/src/pages/style.css
Labels: enhancement, priority-critical, status-needreview, feature, front-end

#910 Mobile: Hotfix annotation tests carousel slider
  learnify/mobile/lib/features/learning-space/models/post_model.dart
Labels: priority-critical, Status: Completed, mobile, hotfix

#914 Mobile: Attend event backend connection
  learnify/mobile/lib/features/learning-space/service/l_ls_service.dart
  learnify/mobile/lib/features/learning-space/service/ls_service.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
Labels: priority-high, status-needreview, mobile, back-end

#915 Mobile: My profile backend connection
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/profile/constants/widget_keys.dart
  learnify/mobile/lib/features/profile/model/get_profile_response_model.dart
  learnify/mobile/lib/features/profile/model/profile_model.dart
  learnify/mobile/lib/features/profile/model/profile_without_lists_model.dart
  learnify/mobile/lib/features/profile/model/update_profile_request_model.dart
  learnify/mobile/lib/features/profile/model/update_profile_response_model.dart
  learnify/mobile/lib/features/profile/service/i_profile_service.dart
  learnify/mobile/lib/features/profile/service/profile_service.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/profile/view/components/profile_form.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/test/profile_screen_test.dart
Labels: priority-critical, status-needreview, mobile, back-connection

#917 Mobile: Home screen revision
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/features/home/service/I_home_service.dart
  learnify/mobile/lib/features/home/service/home_service.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/search/view-model/search_view_model.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-high, status-needreview, feature, mobile, back-connection

#920 Mobile: Translate texts
  learnify/mobile/assets/lang/de.json
  learnify/mobile/assets/lang/es.json
  learnify/mobile/assets/lang/ja.json
  learnify/mobile/assets/lang/ko.json
Labels: priority-high, status-needreview, feature, mobile

#922 Frontend: Dev frontend annotation be connection
  learnify/web/src/components/Post.js
Labels: priority-critical, front-end

#921 Mobile: Other users profile page and backend connection
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/learning-space/view/annotations_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/events/event_item.dart
  learnify/mobile/lib/features/learning-space/view/components/text_item.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/features/others-profile/constants/other_widget_keys.dart
  learnify/mobile/lib/features/others-profile/view-model/others_profile_view_model.dart
  learnify/mobile/lib/features/others-profile/view/components/others_chart.dart
  learnify/mobile/lib/features/others-profile/view/components/others_info.dart
  learnify/mobile/lib/features/others-profile/view/others_profile_screen.dart
  learnify/mobile/lib/features/search/view/components/user_preview.dart
  learnify/mobile/lib/features/search/view/search_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-critical, status-needreview, feature, mobile, back-connection

#923 Mobile: Profile Update Major BugFix
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
Labels: priority-critical, status-needreview, mobile, hotfix

#925 Mobile: Hotfix annotation source base url
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
Labels: priority-critical, Status: Completed, mobile, hotfix

#926 Translate newly added words
  learnify/mobile/assets/lang/de.json
  learnify/mobile/assets/lang/es.json
  learnify/mobile/assets/lang/ja.json
  learnify/mobile/assets/lang/ko.json
  learnify/mobile/lib/features/learning-space/view/create_event_screen.dart
Labels: priority-high, status-needreview, mobile, hotfix
