Repository bounswe/bounswe2022group2, pull requests merged in 2022-11, with the labels that each got.

#462 Mobile: Scrollable horizontal course list widget for home screen / 457
  learnify/mobile/lib/features/auth/service/l_auth_service.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/home/model/course_model.dart
  learnify/mobile/lib/features/home/model/get_courses_response_model.dart
  learnify/mobile/lib/features/home/service/I_home_service.dart
  learnify/mobile/lib/features/home/service/home_service.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
Labels: priority-high, status-needreview, feature, mobile

#471 Update README.md of the mobile project
  learnify/mobile/README.md
Labels: status-needreview, mobile

#472 create readme.md for learnify folder with setup instructions
  learnify/README.md
Labels: priority-critical, type-documentation

#484 Milestone 1: Evaluation of Tools And Processes - Mobile
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, Status: Completed, milestone

#485 Mobile: Tests for Login Page
  learnify/mobile/test/login_test.dart
Labels: priority-critical, status-needreview, mobile, tests

#490 Add personal efforts of Egemen Atik
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#488 adding AWS, Docker, Gmail and NodeJS to tools evaluation
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, Status: Completed, milestone

#499 Milestone-1: Executive Summary
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, milestone

#494 Milestone 1: Adding Personal Efforts of Onur Kömürcü
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-medium, type-documentation, status-needreview, milestone

#502 Completes tests of the chapter section
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_item.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_list.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/test/chapter_test.dart
Labels: priority-low, Status: Completed, mobile, tests

#495 Milestone 1: Adding individual work & responsibilities of Altay Acar
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#503 Milestone 1: Review the Milestone
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#500 Milestone-1: Indiviual Contribution
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, milestone

#504 responsibility and summary of work for Gokay
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: type-documentation, milestone

#506 update indv part and evaluate deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: milestone

#509 Evaluation of the Status of Deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#508 Milestone 1: What Went Well, What Did Not Go Well, and Individual Contribution Parts
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#511 summary of individual work for hasan can erol
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, status-new, status-needreview

#512 Adding Moving Forward
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, status-needreview

#515 Add against objectives and customer presentation review parts
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#516 Updates responsibilities of Bahrican
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, status-needreview, milestone

#497 Evaluation of Tools, Processes and individual work
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-high, type-documentation, status-needreview, milestone

#522 Updating the Dev Branch
  deliverables/CMPE451_Customer_Presentation_Milestone_1/group_review.md
Labels: priority-medium, type-enhancement, status-needreview

#523 Frontend: Implementation of Private Routes
  learnify/web/src/App.js
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/ForgetPassword.js
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/PrivateRoutes.js
  learnify/web/src/pages/PrivateRoutesVerify.js
  learnify/web/src/pages/SignUpForm.js
Labels: priority-medium, status-needreview, feature, front-end

#525 Frontend: Implementation of Not Found Page
  learnify/web/src/App.js
  learnify/web/src/images/404NotFound.jpg
  learnify/web/src/pages/NotFoundPage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, Status: Completed, front-end

#534 implementation of NavBar
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/App.js
  learnify/web/src/images/NotificationBell.png
  learnify/web/src/images/bell.svg
  learnify/web/src/images/notification-icon (1).svg
  learnify/web/src/pages/Header.js
  learnify/web/src/pages/NavBar.js
  learnify/web/src/pages/style.css
Labels: status-waitingresponse, front-end

#536 Frontend: Implementation of Home Page
  learnify/web/src/App.js
  learnify/web/src/components/CreateLearningSpaceButton.js
  learnify/web/src/components/FeedItem.js
  learnify/web/src/components/Footer.js
  learnify/web/src/components/LearningSpacePrev.js
  learnify/web/src/components/NavBar.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/images/NotificationBell.png
  learnify/web/src/images/add-btn.svg
  learnify/web/src/images/create-ls.png
  learnify/web/src/images/ls_icons/ls-icon-1.svg
  learnify/web/src/images/ls_icons/ls-icon-10.svg
  learnify/web/src/images/ls_icons/ls-icon-11.svg
  learnify/web/src/images/ls_icons/ls-icon-12.svg
  learnify/web/src/images/ls_icons/ls-icon-13.svg
  learnify/web/src/images/ls_icons/ls-icon-14.svg
  learnify/web/src/images/ls_icons/ls-icon-15.svg
  learnify/web/src/images/ls_icons/ls-icon-16.svg
  learnify/web/src/images/ls_icons/ls-icon-17.svg
  learnify/web/src/images/ls_icons/ls-icon-18.svg
  learnify/web/src/images/ls_icons/ls-icon-19.svg
  learnify/web/src/images/ls_icons/ls-icon-2.svg
  learnify/web/src/images/ls_icons/ls-icon-20.svg
  learnify/web/src/images/ls_icons/ls-icon-3.svg
  learnify/web/src/images/ls_icons/ls-icon-4.svg
  learnify/web/src/images/ls_icons/ls-icon-5.svg
  learnify/web/src/images/ls_icons/ls-icon-6.svg
  learnify/web/src/images/ls_icons/ls-icon-7.svg
  learnify/web/src/images/ls_icons/ls-icon-8.svg
  learnify/web/src/images/ls_icons/ls-icon-9.svg
  learnify/web/src/images/notification-icon.svg
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/style.css
Labels: priority-high, status-needreview, front-end

#538 Mobile: Annotatable Text Widget Implementation
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/widgets/buttons/action_button.dart
  learnify/mobile/lib/core/widgets/buttons/base_icon_button.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/divider/custom_vertical_divider.dart
  learnify/mobile/lib/core/widgets/text-field/custom_text_form_field.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/core/widgets/text/annotatable/custom_annotatable_item.dart
  learnify/mobile/lib/core/widgets/text/annotatable/custom_text_selection_controls.dart
  learnify/mobile/lib/features/auth/login/view-model/login_view_model.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_item.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/lib/product/theme/dark_theme.dart
  learnify/mobile/lib/product/theme/light_theme.dart
Labels: priority-medium, status-needreview, feature, mobile

#547 Mobile/enhancement/overlapped annotations 545
  learnify/mobile/lib/core/helpers/color_helpers.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/core/widgets/text/annotatable/custom_text_selection_controls.dart
  learnify/mobile/lib/features/learning-space/models/annotation_model.dart
  learnify/mobile/lib/features/learning-space/models/chapter_model.dart
Labels: enhancement, priority-low, status-needreview, mobile

#540 POST /learningspace implementation
  learnify/backend/api/controllers/auth/login.js
  learnify/backend/api/controllers/auth/verifyEmail.js
  learnify/backend/api/controllers/courses/get_courses.js
  learnify/backend/api/controllers/courses/index.js
  learnify/backend/api/controllers/learning_space/get_courses.js
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_learning_space.js
  learnify/backend/api/routes/courses.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/chapter.js
  learnify/backend/models/course.js
  learnify/backend/models/index.js
  learnify/backend/models/learning_space.js
  learnify/backend/test/post_learning_point.test.js
  learnify/backend/utils/auth/prepare_jwt_token.js
Labels: priority-medium, status-needreview, back-end

#550 Mobile: Implementation of Multiple Annotation Selection Dialog - 546
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/dialog/single_choose_dialog.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/core/widgets/text/annotatable/custom_text_selection_controls.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: enhancement, priority-medium, Status: Completed, mobile

#555 Creates GitHub Actions for Flutter
  .github/workflows/mobile_CI.yml
  learnify/mobile/lib/core/constants/network_constants.dart
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/test/forget_password_test.dart
  learnify/mobile/test/verification_screen_test.dart
Labels: priority-low, Status: Completed, mobile

#556 get categories endpoint implementation and categories logic in learning spaces
  learnify/backend/api/controllers/categories/get_categories.js
  learnify/backend/api/controllers/categories/index.js
  learnify/backend/api/controllers/learning_space/post_learning_space.js
  learnify/backend/api/routes/categories.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/validators/learning_space_init_validator.js
  learnify/backend/models/categories.js
  learnify/backend/models/categories.json
  learnify/backend/models/index.js
  learnify/backend/models/learning_space.js
  learnify/backend/test/post_learning_point.test.js
Labels: status-needreview, back-end

#559 Mobile: Page Transition Animation - #558
  learnify/mobile/lib/core/managers/navigation/navigation_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/features/auth/login/view-model/login_view_model.dart
  learnify/mobile/lib/features/auth/login/view/login_screen.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/signup/view/signup_screen.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/pubspec.yaml
Labels: enhancement, priority-medium, status-needreview, mobile

#537 Dev frontend change password
  learnify/web/src/App.js
  learnify/web/src/components/ChangePwdForm.js
  learnify/web/src/pages/ChangePassword.js
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/ForgetPassword.js
  learnify/web/src/pages/SignUpForm.js
Labels: status-waitingresponse, front-end

#557 Mobile: Implementing View All Screen
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/features/home-view-all/view/view_all_screen.dart
  learnify/mobile/lib/features/home/components/course_preview.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-high, status-needreview, feature, mobile

#565 Mobile: create edit Learning Space screen 510
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/constants/widget_keys.dart
  learnify/mobile/lib/features/learning-space/models/learning_space_model.dart
  learnify/mobile/lib/features/learning-space/view-model/create_learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/create/add_categories.dart
  learnify/mobile/lib/features/learning-space/view/components/create/learning_space_form.dart
  learnify/mobile/lib/features/learning-space/view/create_learning_space_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: feature, mobile

#528 Mobile: Implementation of learning space information section
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/constants/network_constants.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/lib/features/home-view-all/view/view_all_screen.dart
  learnify/mobile/lib/features/home/model/get_courses_response_model.dart
  learnify/mobile/lib/features/home/model/get_learning_spaces_response_model.dart
  learnify/mobile/lib/features/home/model/learning_space_model.dart
  learnify/mobile/lib/features/home/service/I_home_service.dart
  learnify/mobile/lib/features/home/service/home_service.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/pubspec.yaml
  learnify/mobile/test/chapter_test.dart
Labels: priority-medium, status-needreview, feature, mobile

#569 Mobile: Learnifies page is initialized
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/home/components/course_preview.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/view/create_learning_space_screen.dart
  learnify/mobile/lib/features/view-learning-spaces/view/taken_ls_screen.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_list.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_screen.dart
  learnify/mobile/lib/main.dart
Labels: enhancement, priority-high, status-needreview, mobile

#571 Frontend: Implementation of Categories Page
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/App.js
  learnify/web/src/components/Categories.js
  learnify/web/src/components/CategoryButton.js
  learnify/web/src/components/component_styles.css
  learnify/web/src/images/categories-page-illustration.svg
  learnify/web/src/pages/CategoriesPage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, front-end

#573 Semantic search implementation for backend
  learnify/backend/api/controllers/learning_space/index.js
  learnify/backend/api/controllers/learning_space/post_learning_space.js
  learnify/backend/api/controllers/learning_space/semantic_search_learning_space.js
  learnify/backend/api/routes/learning_space.js
  learnify/backend/config/index.js
  learnify/backend/dockerfile
  learnify/backend/package-lock.json
  learnify/docker-compose.yml
  learnify/semantic_service/.gitignore
  learnify/semantic_service/dockerfile
  learnify/semantic_service/main.py
  learnify/semantic_service/requirements.txt
Labels: priority-medium, status-needreview, back-end

#580 Mobile: Fix Selected Categories Issue Between Page Transitions
  learnify/mobile/lib/features/learning-space/view-model/create_learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/create/learning_space_form.dart
  learnify/mobile/lib/features/learning-space/view/create_learning_space_screen.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/features/view-learning-spaces/view/view_all_screen.dart
Labels: bug, priority-high, status-needreview, mobile

#581 Mobile: Image Annotation - 578
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/widgets/app-bar/default_app_bar.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/image/annotatable_image.dart
  learnify/mobile/lib/core/widgets/image/image_painter.dart
  learnify/mobile/lib/core/widgets/image/mode_widget.dart
  learnify/mobile/lib/core/widgets/image/ported_interactive_viewer.dart
  learnify/mobile/lib/core/widgets/text/annotatable/annotatable_text.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/learning-space/models/annotation_model.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_item.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
  learnify/mobile/lib/features/learning-space/view/learning_space_detail_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-medium, status-needreview, feature, mobile

#582 Integrate display logic for image annotations
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/image/annotatable_image.dart
  learnify/mobile/lib/core/widgets/image/image_painter.dart
  learnify/mobile/lib/features/learning-space/view-model/learning_space_view_model.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter/chapter_item.dart
  learnify/mobile/lib/features/learning-space/view/components/chapter_image.dart
Labels: priority-medium, Status: Completed, feature, mobile
