Repository bounswe/bounswe2022group2, pull requests merged in 2022-10, with the labels that each got.

#340 Update issue templates
  .github/ISSUE_TEMPLATE/config.yml
  .github/ISSUE_TEMPLATE/generic_template.yml
  .github/ISSUE_TEMPLATE/group_issue_template.yml
  .github/ISSUE_TEMPLATE/research_template.yml
  README.md
Labels: enhancement, type-documentation, status-needreview

#360 Implementation of the Navigation Manager
  learnify/mobile/lib/core/base/view-model/base_view_model.dart
  learnify/mobile/lib/core/managers/navigation/l_navigation_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
Labels: priority-high, status-needreview, feature, mobile

#361 Base Setup for Multi Language and Multi Theme Support
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/extensions/string/string_extensions.dart
  learnify/mobile/lib/core/providers/language/app_localizations.dart
  learnify/mobile/lib/core/providers/language/language_provider.dart
  learnify/mobile/lib/core/providers/theme/theme_provider.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/lib/product/language/language_options.dart
  learnify/mobile/lib/product/theme/dark_theme.dart
  learnify/mobile/lib/product/theme/light_theme.dart
  learnify/mobile/lib/product/theme/theme_types.dart
  learnify/mobile/pubspec.yaml
Labels: priority-high, status-needreview, feature, mobile

#367 355 dockerization of the api
  learnify/backend/.dockerignore
  learnify/backend/.env.prod
  learnify/backend/README.md
  learnify/backend/dockerfile
  learnify/docker-compose.yml
Labels: priority-high, status-inprogress, Docker, back-end

#368 Mobile: Implementation of Sign Up Screen
  learnify/mobile/assets/images/logo.png
  learnify/mobile/assets/lang/en.json
  learnify/mobile/assets/lang/tr.json
  learnify/mobile/lib/core/base/view/base_view.dart
  learnify/mobile/lib/core/constants/main_type_definitions.dart
  learnify/mobile/lib/core/decorations/button_styles.dart
  learnify/mobile/lib/core/decorations/input_decorations.dart
  learnify/mobile/lib/core/extensions/context/context_extensions.dart
  learnify/mobile/lib/core/extensions/context/theme_extensions.dart
  learnify/mobile/lib/core/extensions/string/string_extensions.dart
  learnify/mobile/lib/core/extensions/text-style/text_style_extensions.dart
  learnify/mobile/lib/core/helpers/selector_helper.dart
  learnify/mobile/lib/core/helpers/text_helpers.dart
  learnify/mobile/lib/core/helpers/url_launcher_helper.dart
  learnify/mobile/lib/core/helpers/validators.dart
  learnify/mobile/lib/core/managers/navigation/l_navigation_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/language/app_localizations.dart
  learnify/mobile/lib/core/providers/language/language_provider.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/core/widgets/app-bar/default_app_bar.dart
  learnify/mobile/lib/core/widgets/base-icon/base_icon.dart
  learnify/mobile/lib/core/widgets/buttons/action_button.dart
  learnify/mobile/lib/core/widgets/buttons/base_icon_button.dart
  learnify/mobile/lib/core/widgets/checkbox/custom_checkbox.dart
  learnify/mobile/lib/core/widgets/checkbox/custom_checkbox_tile.dart
  learnify/mobile/lib/core/widgets/dialog/dialog_builder.dart
  learnify/mobile/lib/core/widgets/indicators/custom_loading_indicator.dart
  learnify/mobile/lib/core/widgets/text-field/custom_text_form_field.dart
  learnify/mobile/lib/core/widgets/text-field/obscured_text_form_field.dart
  learnify/mobile/lib/core/widgets/text-field/text_form_field_wrapper.dart
  learnify/mobile/lib/core/widgets/text/base_text.dart
  learnify/mobile/lib/core/widgets/text/multiline_text.dart
  learnify/mobile/lib/features/auth/service/auth_service.dart
  learnify/mobile/lib/features/auth/service/l_auth_service.dart
  learnify/mobile/lib/features/auth/signup/model/signup_request_model.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/signup/view/components/signup_form.dart
  learnify/mobile/lib/features/auth/signup/view/signup_screen.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/lib/product/constants/icon_keys.dart
  learnify/mobile/lib/product/constants/link_keys.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/lib/product/language/language_options.dart
  learnify/mobile/lib/product/theme/dark_theme.dart
  learnify/mobile/lib/product/theme/general_theme.dart
  learnify/mobile/lib/product/theme/light_theme.dart
  learnify/mobile/pubspec.yaml
Labels: priority-medium, status-needreview, mobile

#373 Mobile: Tests of the Sign Up Screen
  learnify/mobile/lib/core/base/view-model/base_view_model.dart
  learnify/mobile/lib/core/base/view/base_view.dart
  learnify/mobile/lib/features/auth/signup/constants/widget_keys.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/signup/view/components/signup_form.dart
  learnify/mobile/lib/features/auth/signup/view/signup_screen.dart
  learnify/mobile/test/app_pumper.dart
  learnify/mobile/test/main_tester.dart
  learnify/mobile/test/signup_tester.dart
  learnify/mobile/test/widget_test.dart
Labels: priority-low, status-needreview, mobile

#387 Frontend: Sign up page implementation
  learnify/web/src/App.js
  learnify/web/src/images/learn-illustration.png
  learnify/web/src/images/logo-black.png
  learnify/web/src/images/logo-dblue.png
  learnify/web/src/images/logo-lblue.png
  learnify/web/src/images/logo-orange.png
  learnify/web/src/index.css
  learnify/web/src/pages/SignUpForm.js
  learnify/web/src/pages/style.css
Labels: status-needreview, front-end

#366 365 sign up endpoint
  learnify/backend/README.md
  learnify/backend/api/controllers/auth/index.js
  learnify/backend/api/controllers/auth/signup.js
  learnify/backend/api/routes/auth.js
  learnify/backend/api/routes/index.js
  learnify/backend/api/validators/user_validator.js
  learnify/backend/models/index.js
  learnify/backend/models/user.js
Labels: priority-medium, status-needreview, back-end

#389 Mobile: Back-end Connection of the Sign Up Screen and Tests
  learnify/mobile/lib/core/base/service/base_service.dart
  learnify/mobile/lib/core/base/view-model/base_view_model.dart
  learnify/mobile/lib/core/base/view/base_view.dart
  learnify/mobile/lib/core/constants/durations.dart
  learnify/mobile/lib/core/constants/enums/request_types.dart
  learnify/mobile/lib/core/constants/network_constants.dart
  learnify/mobile/lib/core/managers/local/l_local_manager.dart
  learnify/mobile/lib/core/managers/local/local_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/managers/network/custom_interceptors.dart
  learnify/mobile/lib/core/managers/network/helpers/network_parsers.dart
  learnify/mobile/lib/core/managers/network/l_network_manager.dart
  learnify/mobile/lib/core/managers/network/models/error_model.dart
  learnify/mobile/lib/core/managers/network/models/l_error_model.dart
  learnify/mobile/lib/core/managers/network/models/l_response_model.dart
  learnify/mobile/lib/core/managers/network/models/message_response.dart
  learnify/mobile/lib/core/managers/network/models/response_model.dart
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/lib/features/auth/service/auth_service.dart
  learnify/mobile/lib/features/auth/service/l_auth_service.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/signup/view/components/signup_form.dart
  learnify/mobile/lib/features/auth/signup/view/signup_screen.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/lib/product/constants/storage_keys.dart
  learnify/mobile/pubspec.yaml
  learnify/mobile/test/app_pumper.dart
  learnify/mobile/test/main_tester.dart
  learnify/mobile/test/signup_network_test.dart
  learnify/mobile/test/signup_test.dart
Labels: priority-medium, status-needreview, mobile

#394 Mobile: Bottom Navigation and App Bar Widgets
  learnify/mobile/assets/images/learn-illustration.png
  learnify/mobile/assets/images/logo-dblue.png
  learnify/mobile/assets/images/logo-lblue.png
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/base/view/base_view.dart
  learnify/mobile/lib/core/decorations/input_decorations.dart
  learnify/mobile/lib/core/extensions/context/theme_extensions.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/core/providers/theme/theme_provider.dart
  learnify/mobile/lib/core/widgets/app-bar/default_app_bar.dart
  learnify/mobile/lib/core/widgets/base-icon/base_icon.dart
  learnify/mobile/lib/core/widgets/buttons/action_button.dart
  learnify/mobile/lib/core/widgets/buttons/base_icon_button.dart
  learnify/mobile/lib/core/widgets/checkbox/custom_checkbox.dart
  learnify/mobile/lib/core/widgets/indicators/custom_loading_indicator.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/signup/view/signup_screen.dart
  learnify/mobile/lib/features/courses/view-model/courses_view_model.dart
  learnify/mobile/lib/features/courses/view/courses_screen.dart
  learnify/mobile/lib/features/home-wrapper/constants/home_wrapper_constants.dart
  learnify/mobile/lib/features/home-wrapper/view-model/home_wrapper_view_model.dart
  learnify/mobile/lib/features/home-wrapper/view/components/bottom_navigation_bar.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/home/view-model/home_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
  learnify/mobile/lib/features/search/view-model/search_view_model.dart
  learnify/mobile/lib/features/search/view/search_screen.dart
  learnify/mobile/lib/product/constants/icon_keys.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/lib/product/theme/dark_theme.dart
  learnify/mobile/lib/product/theme/general_theme.dart
  learnify/mobile/lib/product/theme/light_theme.dart
  learnify/mobile/pubspec.yaml
  learnify/mobile/test/signup_test.dart
Labels: status-needreview, feature, mobile

#402 Mobile: Integrate the Logo as App Icon
  learnify/mobile/android/app/src/main/res/mipmap-anydpi-v26/ic_launcher.xml
  learnify/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher.png
  learnify/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_back.png
  learnify/mobile/android/app/src/main/res/mipmap-hdpi/ic_launcher_adaptive_fore.png
  learnify/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher.png
  learnify/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_back.png
  learnify/mobile/android/app/src/main/res/mipmap-mdpi/ic_launcher_adaptive_fore.png
  learnify/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher.png
  learnify/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_back.png
  learnify/mobile/android/app/src/main/res/mipmap-xhdpi/ic_launcher_adaptive_fore.png
  learnify/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher.png
  learnify/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_back.png
  learnify/mobile/android/app/src/main/res/mipmap-xxhdpi/ic_launcher_adaptive_fore.png
  learnify/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher.png
  learnify/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_back.png
  learnify/mobile/android/app/src/main/res/mipmap-xxxhdpi/ic_launcher_adaptive_fore.png
  learnify/mobile/lib/features/auth/signup/constants/widget_keys.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/signup/view/components/signup_form.dart
  learnify/mobile/lib/features/auth/signup/view/signup_screen.dart
  learnify/mobile/pubspec.yaml
Labels: enhancement, status-needreview, mobile

#400 Mobile: Static Profile Screen
  learnify/mobile/assets/images/user-profile.png
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/base/view-model/base_view_model.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/widgets/divider/custom_vertical_divider.dart
  learnify/mobile/lib/core/widgets/text/base_text.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/profile/constants/widget_keys.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/profile/view/components/profile_chart.dart
  learnify/mobile/lib/features/profile/view/components/profile_form.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
  learnify/mobile/lib/product/constants/icon_keys.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/constants/storage_keys.dart
  learnify/mobile/lib/product/language/language_keys.dart
  learnify/mobile/pubspec.yaml
Labels: priority-medium, status-needreview, mobile

#392 Frontend: Email Verification Page Implementation
  learnify/web/src/App.js
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/SignUpForm.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, front-end

#374 Verify email endpoint
  learnify/backend/.dockerignore
  learnify/backend/README.md
  learnify/backend/api/controllers/auth/index.js
  learnify/backend/api/controllers/auth/signup.js
  learnify/backend/api/controllers/auth/verifyEmail.js
  learnify/backend/api/controllers/index.js
  learnify/backend/api/routes/auth.js
  learnify/backend/api/validators/user_validator.js
  learnify/backend/config/index.js
  learnify/backend/dockerfile
  learnify/backend/models/user.js
  learnify/backend/package-lock.json
  learnify/backend/package.json
  learnify/backend/test/post_auth_signup.test.js
  learnify/backend/utils/auth/send_verification_email.js
  learnify/docker-compose.yml
Labels: status-waitingresponse, back-end

#391 365 sign up endpoint
  learnify/backend/.dockerignore
  learnify/backend/README.md
  learnify/backend/api/controllers/auth/signup.js
  learnify/backend/config/index.js
  learnify/backend/dockerfile
  learnify/backend/package-lock.json
  learnify/backend/package.json
  learnify/backend/test/post_auth_signup.test.js
  learnify/backend/utils/auth/send_verification_email.js
Labels: priority-medium, status-needreview, back-end

#410 Milestone1: Preparing Deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_1/deliverables.md
Labels: priority-high, type-documentation, status-needreview

#399 Login page modifications
  learnify/package-lock.json
  learnify/web/src/App.js
  learnify/web/src/pages/Header.js
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/SignInForm.js
  learnify/web/src/pages/SignUpForm.js
  learnify/web/src/pages/style.css
  package-lock.json
Labels: status-waitingresponse, front-end

#381 380 implementation of login api
  learnify/backend/api/controllers/auth/index.js
  learnify/backend/api/controllers/auth/login.js
  learnify/backend/api/routes/auth.js
  learnify/backend/api/validators/user_validator.js
Labels: status-needreview, back-end

#413 Dockerization of Frontend
  learnify/docker-compose.yml
  learnify/web/.dockerignore
  learnify/web/dockerfile
Labels: status-needreview, Docker, front-end

#420 Backend: Implementing Tests for Verify Email Endpoint
  learnify/backend/test/post_auth_verify_email.test.js
Labels: status-needreview, back-end, tests

#411 Resend The Verification Code
  learnify/backend/api/controllers/auth/index.js
  learnify/backend/api/controllers/auth/resend.js
  learnify/backend/api/controllers/auth/verifyEmail.js
  learnify/backend/api/routes/auth.js
  learnify/backend/models/user.js
  learnify/backend/utils/auth/send_verification_email.js
Labels: status-needreview, back-end

#416 Mobile/verification screen 395
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/constants/network_constants.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/managers/network/network_manager.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/verification/constants/widget_keys.dart
  learnify/mobile/lib/features/auth/verification/view-model/verification_view_model.dart
  learnify/mobile/lib/features/auth/verification/view/components/verification_code_field.dart
  learnify/mobile/lib/features/auth/verification/view/verification_screen.dart
  learnify/mobile/lib/product/constants/navigation_constants.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-medium, status-needreview, feature, mobile

#428 Sendmail edit
  learnify/backend/api/controllers/auth/signup.js
  learnify/backend/package.json
  learnify/backend/utils/auth/send_verification_email.js
Labels: priority-high, status-needreview, back-end

#426 Frontend: Sign Up Form Validation
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/pages/SignUpForm.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, feature, front-end

#433 Mobile: forget password backend 384
  learnify/mobile/lib/features/auth/forget-password/model/send_verification_request_model.dart
  learnify/mobile/lib/features/auth/forget-password/view-model/forget_password_view_model.dart
  learnify/mobile/lib/features/auth/forget-password/view/components/email_form.dart
  learnify/mobile/lib/features/auth/service/auth_service.dart
  learnify/mobile/lib/features/auth/service/l_auth_service.dart
Labels: Status: Completed, mobile, back-connection

#432 Mobile/verification screen tests 417
  learnify/mobile/lib/features/auth/verification/view/verification_screen.dart
  learnify/mobile/test/verification_screen_test.dart
Labels: priority-medium, Status: Completed, mobile, tests

#436 hotfix: usermodel update
  learnify/backend/models/user.js
Labels: bug, priority-critical, status-needreview, back-end, hotfix

#431 Frontend: Email Verification Form Validation
  learnify/web/src/App.js
  learnify/web/src/buttonIndex.js
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/ForgetPassword.js
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-waitingresponse, feature, front-end

#438 Frontend: Backend connection for sign up page
  learnify/web/src/pages/SignUpForm.js
  learnify/web/src/pages/style.css
Labels: priority-medium, status-needreview, front-end, back-connection

#446 Backend connection for Login Page and Form fields format validation
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/style.css
Labels: status-needreview, front-end

#445 backend connection to forget password
  learnify/web/src/pages/ForgetPassword.js
  learnify/web/src/pages/style.css
Labels: priority-medium, Status: Completed, front-end, back-connection

#440 Bugfix: Return error message for not verified users on log in
  learnify/backend/api/controllers/auth/login.js
Labels: bug, priority-high, back-end

#450 Frontend: Backend Connection for Email Verification Page
  learnify/web/src/buttonIndex.js
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/ForgetPassword.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/SignUpForm.js
Labels: priority-medium, status-waitingresponse, front-end, back-connection

#442 Mobile: implement tests for forget password
  learnify/mobile/test/forget_password_test.dart
Labels: mobile, tests

#435 Mobile: Back-End Connection of Verification Screen/434
  learnify/mobile/lib/core/base/model/base_model.dart
  learnify/mobile/lib/core/managers/local/l_local_manager.dart
  learnify/mobile/lib/core/managers/local/local_manager.dart
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/managers/network/custom_interceptors.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/auth/forget-password/view-model/forget_password_view_model.dart
  learnify/mobile/lib/features/auth/service/auth_service.dart
  learnify/mobile/lib/features/auth/service/l_auth_service.dart
  learnify/mobile/lib/features/auth/signup/view-model/signup_view_model.dart
  learnify/mobile/lib/features/auth/verification/model/user_model.dart
  learnify/mobile/lib/features/auth/verification/model/verify_email_request_model.dart
  learnify/mobile/lib/features/auth/verification/model/verify_email_response_model.dart
  learnify/mobile/lib/features/auth/verification/view-model/verification_view_model.dart
  learnify/mobile/lib/features/auth/verification/view/verification_screen.dart
  learnify/mobile/lib/features/home-wrapper/view-model/home_wrapper_view_model.dart
  learnify/mobile/lib/features/home-wrapper/view/home_wrapper_screen.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/features/profile/view/profile_screen.dart
  learnify/mobile/lib/main.dart
  learnify/mobile/lib/product/constants/storage_keys.dart
  learnify/mobile/test/profile_screen_test.dart
Labels: priority-medium, status-needreview, feature, mobile, back-connection

#443 return mock course data
  learnify/backend/api/controllers/courses/get_courses.js
  learnify/backend/api/controllers/courses/index.js
  learnify/backend/api/routes/courses.js
  learnify/backend/api/routes/index.js
  learnify/backend/migrations/add_mock_courses.js
  learnify/backend/models/course.js
  learnify/backend/models/index.js
Labels: priority-high, status-needreview, back-end

#455 Mobile: Verification screen network tests
  learnify/mobile/test/verification_screen_test.dart
Labels: priority-medium, Status: Completed, mobile, tests

#430 Mobile: course preview widget
  learnify/mobile/lib/features/home/components/course_preview.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
Labels: status-needreview, feature, mobile

#398 Mobile: Implementation of Login Screen
  deliverables/CMPE451_Customer_Presentation_Milestone_1/deliverables.md
  learnify/backend/api/controllers/auth/login.js
  learnify/mobile/assets/lang/en.json
  learnify/mobile/lib/core/managers/navigation/navigation_route.dart
  learnify/mobile/lib/core/providers/provider_list.dart
  learnify/mobile/lib/features/auth/forget-password/view-model/forget_password_view_model.dart
  learnify/mobile/lib/features/auth/login/constants/widget_keys.dart
  learnify/mobile/lib/features/auth/login/model/login_request_model.dart
  learnify/mobile/lib/features/auth/login/model/login_response_model.dart
  learnify/mobile/lib/features/auth/login/model/user_model.dart
  learnify/mobile/lib/features/auth/login/view-model/login_view_model.dart
  learnify/mobile/lib/features/auth/login/view/components/login_form.dart
  learnify/mobile/lib/features/auth/login/view/login_screen.dart
  learnify/mobile/lib/features/auth/service/auth_service.dart
  learnify/mobile/lib/features/auth/service/l_auth_service.dart
  learnify/mobile/lib/features/auth/verification/view-model/verification_view_model.dart
  learnify/mobile/lib/features/home/view/home_screen.dart
  learnify/mobile/lib/features/profile/view-model/profile_view_model.dart
  learnify/mobile/lib/product/language/language_keys.dart
Labels: priority-critical, Status: Completed, mobile

#422 Backend: Implementing Unit Tests for Login endpoint
  learnify/backend/package-lock.json
  learnify/backend/package.json
  learnify/backend/test/post_auth_login.test.js
Labels: status-waitingresponse, back-end, tests

#456 Frontend: Unit tests for sign up page
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/src/App.js
  learnify/web/src/App.test.js
  learnify/web/src/__tests__/SignUpForm.test.js
  learnify/web/src/pages/SignUpForm.js
Labels: priority-medium, status-needreview, front-end, tests

#458 Frontend: Unit Tests for Email Verification Page
  learnify/web/src/__tests__/EmailVerificationPage.test.js
  learnify/web/src/pages/EmailVerificationPage.js
Labels: priority-medium, Status: Completed, front-end, tests

#452 Frontend/dev
  learnify/docker-compose.yml
  learnify/package-lock.json
  learnify/web/.dockerignore
  learnify/web/.gitignore
  learnify/web/README.md
  learnify/web/dockerfile
  learnify/web/package-lock.json
  learnify/web/package.json
  learnify/web/public/favicon.ico
  learnify/web/public/index.html
  learnify/web/public/logo192.png
  learnify/web/public/logo512.png
  learnify/web/public/manifest.json
  learnify/web/public/robots.txt
  learnify/web/src/App.css
  learnify/web/src/App.js
  learnify/web/src/__tests__/EmailVerificationPage.test.js
  learnify/web/src/__tests__/SignUpForm.test.js
  learnify/web/src/images/learn-illustration.png
  learnify/web/src/images/logo-black.png
  learnify/web/src/images/logo-dblue.png
  learnify/web/src/images/logo-lblue.png
  learnify/web/src/images/logo-orange.png
  learnify/web/src/index.css
  learnify/web/src/index.js
  learnify/web/src/logo.svg
  learnify/web/src/pages/EmailVerificationPage.js
  learnify/web/src/pages/ForgetPassword.js
  learnify/web/src/pages/Header.js
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/LoginForm.js
  learnify/web/src/pages/SignUpForm.js
  learnify/web/src/pages/style.css
  learnify/web/src/reportWebVitals.js
  learnify/web/src/setupTests.js
  package-lock.json
Labels: priority-high, status-needreview, front-end

#461 home page mock
  learnify/web/src/images/451-mockup.jpg
  learnify/web/src/pages/HomePage.js
  learnify/web/src/pages/style.css
Labels: priority-medium, Status: Completed, front-end

#463 Frontend/dev forget password unit tests
  learnify/web/src/__tests__/ForgetPassword.test.js
  learnify/web/src/pages/ForgetPassword.js
Labels: status-needreview, front-end

#467 Test cases for Login Page has been implemented and tested.
  learnify/web/src/__tests__/LoginForm.test.js
  learnify/web/src/pages/LoginForm.js
Labels: status-needreview, front-end, tests
