Repository bounswe/bounswe2022group2, pull requests merged in 2023-01, with the labels that each got.

#937 Final Milestone: Executive Summary
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#940 Final Milestone: Summary of Work - Bahrican Yeşil
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-medium, type-documentation, status-needreview, milestone

#943 Final Milestone: Individual Contributions Report - Bahrican Yeşil
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-medium, type-documentation, status-needreview, milestone

#947 Final milestone: Add software requirements specification, UML diagrams, user scenarios and mockups to report
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-medium, type-documentation, status-needreview, milestone

#945 Final milestone progress in requirements
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: type-documentation, status-needreview, milestone

#966 Final Milestone: Summary of Work Table for Onur Kömürcü
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, milestone

#969 add release notes for the final milestone
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: milestone

#965 BUGFIX: Annotation Service Elastic IP taken and changed with old IP
  learnify/backend/dockerfile
Labels: bug, priority-critical, back-end

#954 Final Milestone: Update Annotations and Standards Section
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: type-documentation, status-needreview, milestone

#978 personal report for batuhan celik
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: milestone

#968 Final Milestone: Indiviual Contribution Report and Summary in Tabular Format
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#974 Summary of Work Table: Altay Acar
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#979 Frontend: UI/UX additions final milestone
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, front-end

#976 Final Milestone Report: List and Status of Deliverables
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#928 Frontend: unit test initialized for bio and profile picture
  learnify/web/src/__tests__/AboutUser.test.js
  learnify/web/src/__tests__/__snapshots__/AboutUser.test.js.snap
Labels: front-end

#967 Final Milestone: UI/UX mobile screens
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone, mobile

#980 Final Milestone: add individual efforts - Ezgi
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: type-documentation, status-needreview, milestone

#913 Frontend: Unit Tests for Event Component of Learning Space
  learnify/web/src/__tests__/Event.test.js
  learnify/web/src/__tests__/__snapshots__/CategoriesPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/ContactPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/Footer.test.js.snap
  learnify/web/src/__tests__/__snapshots__/LSbyCategoryPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/MyLearningSpacesPage.test.js.snap
  learnify/web/src/__tests__/__snapshots__/NavBar.test.js.snap
  learnify/web/src/__tests__/__snapshots__/PopularLearningSpacesPage.test.js.snap
Labels: priority-high, status-needreview, front-end, tests

#895 Frontend: Unit Tests for Comment Component of Learning Space Posts
  learnify/web/src/__tests__/Comment.test.js
  learnify/web/src/__tests__/__snapshots__/Comment.test.js.snap
  learnify/web/src/components/Comment.js
Labels: priority-medium, status-needreview, front-end, tests

#982 Final Milestone: Individual Contributions Report for Onur Kömürcü
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#984 Add user manual
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#985 Individual Contributions Report: Altay Acar
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#970 Final Milestone : system manual
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: type-documentation, status-needreview, milestone

#971 Final Milestone: Individual Contribution Report and Summary in Tabular Format
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, milestone

#987 Final Milestone: individual effort by gokay
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: milestone

#983 Final Milestone: Project Plan
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-high, type-documentation, status-needreview, milestone

#990 Final Milestone: Summary of Work Table for Enes Sürmeli
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#989 Final Milestone: Individual Contributions Report for Enes Sürmeli
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#991 Personal Report, individual contributions Koray
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, milestone

#993 Final Milestone: Web Application Scenario
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#994 gokay updates for personal contributions
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: milestone

#995 Final milestone/individual contributions egemen atik 988
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: priority-critical, type-documentation, status-needreview, milestone

#998 adding summary of work for batuhan celik
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: milestone

#997 Adding API documentation to milestone 3 report
  deliverables/CMPE451_Customer_Presentation_Milestone_3/final_deliverables.md
Labels: type-documentation, status-needreview, milestone
